nav {
    position: fixed;
    top: 100px;
    left: 0;
  }
nav a {
  display: block;
  text-align: center;
  color: #000;
  font-size: 2rem;
  margin-left: -200px;
  padding-left: 1rem;
  width: 100px;
  height: 70px;
  text-decoration: none;
  -webkit-transition-property: margin-left;
  transition-property: margin-left;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
nav a:hover {
  color: #1f2122;
}
nav a:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
nav a:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
nav a:nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
nav a:nth-child(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
nav a:nth-child(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
nav a:nth-child(6) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
#nav-toggle {
  width: 100px;
  height: 100px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font: inherit;
  font-size: 40px;
  color: #000;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  padding: 0;
}
#nav-toggle:after {
  content: "\f0c9";
  font-family: 'FontAwesome';
}
#nav-toggle:focus {
  outline: none;
}
#nav-toggle:hover {
  color: #CFD8DC;
}
.nav-open nav a {
  margin-left: 0;
}
.nav-open #nav-toggle {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.nav-open #nav-toggle:after {
  content: "\f00d";
}
/* Base Style */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEorCIPrQ.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
  /* background-color: #607D8B; */
  font-family: 'Raleway', sans-serif;
  color: #000;
}
.container {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.container h1 {
  margin-top: 3%;
}
.explore {
  display: inline-block;
  padding: 0.80rem 1.40rem;
  border-radius: 2rem;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: semibold;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  cursor: pointer;
  margin-top: 5%;
}
.explore:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #054214;
  z-index: -2;
}
.explore:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #38a30dab;
  transition: all 0.3s;
  z-index: -1;
}
.explore:hover {
  color: #fff;
  text-decoration: none;
}
.explore:hover:before {
  width: 100%;
}
.social-menu {
  position: absolute;
  right: 0.5rem;
  bottom: 1rem;
}
.social-menu ul li {
  margin: 2rem 1rem;
  font-size: 1.70rem;
  list-style: none;
  color: #000;
}
.fa{
  color: black;
  text-decoration: none;
}